body {
  display: grid;
  grid-template-rows: 60px 1fr 100px;
}

.posts {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .main_heading {
    text-align: center;
  }
  .card {
    max-width: 90%;
  }
}
